<main>
  <p id="error-message"></p>
    <div id="collection-message"></div>
    <div id="friend-request-list"></div>
  <form id="collection-form">
    <h2>Send Collections</h2>
      <h3>friends</h3>
    <ul id="friend-list">
    </ul>
      <h3>liked spots</h3>
    <ul id="liked-list">
    </ul>
    <button type="submit">Submit</button>
  </form>


    <h3>collections</h3>
    <ul id="collection-list">
    </ul>

</main>
