
<main id="home">
    <h1>HOME PAGE</h1>
    <div class="content">
        <div>
            <h2>Find a Spot!</h2>
            <div id="map"></div>
        </div>
    </div>
</main>


<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/scripts/maps.js"></script>