<h2>Search for People</h2>
<p id="error-message"></p>
<form id="search-people-form">
    <label for="name">Name</label>
    <input type="text" id="people-name" name="name" required>
    <button type="submit">Submit</button>
</form>

<ul id="people-list"></ul>
