<main>
    <h2 id="user-name"></h2>
    <h4 id="user-email"></h4>
    <span id="verified">Verified:</span>

    <h3>Posted Spots</h3>
    <ul class="spot-list" id="posted-spots">
        <!--array of spot IDs-->
    </ul>

    <h3>Posted Reviews</h3>
    <ul class="spot-list" id="posted-reviews">
        <!--array of spot IDs-->
    </ul>

    <h3>Personal Collection (Favorites/Likes) </h3>
    <ul class="spot-list" id="liked-spots">
        
    </ul>

</main>
<script src=""