<!--http://localhost:3000/api/v1/spots/?ratings=4&distance=10mi&category=hockey-->
<div class="search-page-whole-container">
<aside id="search-form-container">
    <form id="search-form">
        <p id="error-message"></p>

        <label for="search-distance">Search Distance (Max 500 Miles): </label>
        <input type="number" min='1' max='500' id="search-distance" name="search-distance"><span id="distance-unit">miles</span>


        <label for="rating-search">Search By Rating: </label>
        <input type="range" min="1" max="5" id="rating-search" value="3" name="rating-search"><span id="rating-value"> average no less than 3</span>

        <p>Search By Hobby:</p>
        <div id="search-tag"></div>
        

        <input type="submit" id="search-page-submit" name="search-page-submit" class="submit-button">
    </form>
 </aside>

<main id="search-results-container">
    <div id="search-page-results">
        <ul id="search-page-result-list" class="search-page-result-list">


        </ul>
    </div>
</main>
</div>
{{!-- <script src="/scripts/frontendValidation/validateSearch.js"></script> --}}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/newSearch.js"></script>
