<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <nav>
        <span><a href="/">Spot Finder</a></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">EX1</a></li>
            <li><a href="/">EX2</a></li>
        </ul>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Sign Up</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>